.btn{
  background-color: black;
  border: none;
  color: white;
  display: inline-block;
  height: 28px;
  padding: 5px 10px 6px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;

  &.active{
   background-color: #4CAF50 !important; 
  }
}